[Desktop Entry]
Type=Application
Name=Ваня
GenericName=Локальный юридический ИИ-ассистент
Comment=Офлайн-ассистент для работы с юридическими документами
Exec=AppRun
Icon=vanya
Terminal=false
StartupNotify=true
Categories=Office;Utility;
Keywords=юрист;договор;офлайн;ИИ;legal;offline;
